<div class="background">
    <div class="box">
        <div class="logo"></div>
        <form #f="ngForm">
            
            <p class="label">USUÁRIO</p>
            <input class="input" type="text" [(ngModel)]="user.username" placeholder="Exemplo" name="user">
            
            
            <p class="label">SENHA</p>
            <input class="input" type="password" [(ngModel)]="user.password" placeholder="Senha" name="pass">
            
            <br><button (click)="login()" class="btn">Login</button>
       
            

        </form>

        
    </div>    
</div>
