<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700&display=swap" rel="stylesheet">

<div class="background">
    <div class="box">
        <div class="logo"></div>
        <form #f="ngForm">
            
            <p class="label">USUÁRIO</p>
            <input class="input" type="text" [(ngModel)]="user.username" placeholder="Exemplo" name="user" #username="ngModel" required>
            
            
            <p class="label">SENHA</p>
            <input class="input" type="password" [(ngModel)]="user.password" placeholder="Senha" name="pass" #pass="ngModel" required>
            
            <br><button (click)="login()" class="btn" [disabled]="!f.valid">Login</button>
       
            <div class="error-message">
                <div *ngIf="(!username.valid && username.touched) || (!pass.valid && pass.touched)">
                    Informe um usuário e senha
                </div>

            </div>

        </form>

        
    </div>    
</div>
