.background {
    background-image: url("../../../assets/home-background.jpg");
    background-size: cover;
    // margin: -8px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 47vw;
    height: 74vh;
    background-color: #ECCBCB;
    border-radius: 30px;
}

.logo {
    background-image: url("../../../assets/logo.png");
    background-size: cover;
    width: 12vw;
    height: 23vh;
    margin: 3vh 17vw 5vh 17vw;
}

.label {
    font: normal 500 24px/28px Roboto;
    color: #085273;
    margin-top: 3vh;
    margin-left: 4vw;
}

.input {
    width: 38vw;
    height: 6vh;

    background-color: #C4C4C4;
    border-radius: 10px;
    border: none;

    margin-top: -1vh;
    margin-left: 4vw;

    font: normal 400 20px/24px Roboto;
    padding-left: 1vw;
}

.btn {
    background-color: #69B3B5;
    border-radius: 10px;
    border: none;
    width: 14vw;
    height: 6vh;

    margin: 3vh 17vw 7vh 17vw;
    color: white;

    font: normal 500 32px/38px Roboto;
}

.btn:hover {
    background-color: #37888b;
    cursor: pointer;
}

.btn:disabled {
    background-color: #797777;
    cursor: auto;
}

.error-message {
    position: absolute;
    top: 65vh;
    margin-left: 4.3vw;
    color: red;
}

.register {
  font: normal 300 18px/20px Roboto;
  color: #085273;
  margin: 1vh 4vw;
  cursor: pointer;
}
