.background {
    background-image: url("../../../assets/background-login.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 900px;
    height: 800px;
    background-color: #ECCBCB;
    border-radius: 30px;
}

.logo {
    background-image: url("../../../assets/logo.png");
    background-size: cover;
    width: 250px;
    height: 250px;

    margin-left: 326px;
    margin-top: 36px;
    margin-bottom: 50px;
}

.label {
    font: normal 500 24px/28px Roboto;
    color: #085273;
    margin-top: 33px;
    margin-left: 80px;
}

.input {
    width: 740px;
    height: 60px;

    background-color: #C4C4C4;
    border-radius: 10px;
    border: none;

    margin-top: -15px;
    margin-left: 80px;

    font: normal 400 20px/24px Roboto;
    padding-left: 20px
}

.btn {
    background-color: #69B3B5;
    border-radius: 10px;
    border: none;
    width: 270px;
    height: 60px;

    margin: 100px 315px 90px 315px;
    color: white;

    font: normal 500 32px/38px Roboto;
}