.box {
    width: 59vw;
    height: 85vh;

    background: #F7CCC4;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #9a5a5a;
}

.title {
    font: normal 700 40px/47px Roboto;
    color: #085273;
    
    margin-left: 22vw;
    padding-top: 8vh;
    margin-bottom: 2vh;
}

.label {
    font: normal 400 32px/38px Roboto;
    color:#085273;

    margin-left: 5.6vw;
    margin-top: 3.4vh;
}

.input {
    background: #C4C4C4;
    border-radius: 10px;
    border: none;

    width: 47vw;
    height: 5.4vh;

    margin-left: 5.6vw;
    padding: 0.5vh 2vh;

    font: normal 400 22px/28px Roboto;
    color: #085273;
}

.input::placeholder {
    color: #085273;
}

.button {
    background-color: #E73434;
    border-radius: 10px;
    border: none;

    margin: 4.1vh 23.5vw 6.5vh 23.5vw;
    width: 12vw;
    height: 5.5vh;

    font: normal 400 32px/38px Roboto;
    color: #FFFFFF;

    cursor: pointer;
}

.button:disabled {
    background-color: #9a9a9a;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: #9a9a9a;
    cursor: not-allowed;
}

.button:hover {
    background-color: #ac2c2c;
}


#income {
    background-color: #13BB6A;
}

#income:disabled {
    background-color: #9a9a9a;
    cursor: not-allowed;
}

#income:disabled:hover {
    background-color: #9a9a9a;
    cursor: not-allowed;
}

#income:hover {
    background-color: #0f9c4e;
}

select {
    min-width: 49vw;
    min-height: 5.7vh;
    padding: 0.5vh 2vh;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

option {
    width: 48vw;
}

