.box {
    width: 1133px;
    height: 907px;

    background: #F7CCC4;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #9a5a5a;
}

.title {
    font: normal 700 40px/47px Roboto;
    color: #085273;
    
    margin-left: 420px;
    padding-top: 87px;
    margin-bottom: 62px;
}

.label {
    font: normal 400 32px/38px Roboto;
    color:#085273;

    margin-left: 108px;
    margin-top: 37px;
}

.input {
    background: #C4C4C4;
    border-radius: 10px;
    border: none;

    width: 900px;
    height: 59px;

    margin-left: 108px;
    margin-top: 1px;
    padding: 5px 20px 5px 20px;

    font: normal 400 22px/28px Roboto;
    color: #085273;
}

.button {
    background-color: #E73434;
    border-radius: 10px;
    border: none;

    margin: 45px 452px 70px 452px;
    width: 229px;
    height: 59px;

    font: normal 400 32px/38px Roboto;
    color: #FFFFFF;

    cursor: pointer;
}

.button:disabled {
    background-color: #9a9a9a;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: #9a9a9a;
    cursor: not-allowed;
}

.button:hover {
    background-color: #ac2c2c;
}


#income {
    background-color: #13BB6A;
}

#income:hover {
    background-color: #0f9c4e;
}

select {
    min-width: 940px;
    min-height: 62px;
    padding: 5px 20px 5px 20px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

option {
    width: 930px;
}
