.background {
    background-image: url("../../../assets/home-background.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;
}

.box {
    background: rgb(244, 190, 186);
    border-radius: 10px;
    width: 21vw;
    height: 85vh;
}

#center {
    width: 43vw;
    margin-left: 3.3vw;
}

#box2 {
    margin-left: 3.3vw;
}

p {
    font: normal 700 36px/42px Roboto;
    color: #085273;
    text-align: center;
    margin-top: 2.6vh;
}

#foward {
    transform: scale(1.7);
    color: #085273;
    position: absolute;
    top: 10.6vh;
    margin-left: 14.5vw;
}

#back {
    transform: scale(1.7);
    color: #085273;
    position: absolute;
    top: 10.6vh;
    margin-left: 27.6vw;
}

.material-icons:hover {
    cursor: pointer;
}

// ADD RECEITA E DESPESA
#receita {
    color: #13BB6A;
    transform: scale(6);
    margin-left: 17vw;
    margin-top: 12vh;
}

#receita:hover {
  color: rgb(30, 106, 26);
}

#despesa {
    color: #E73434;
    transform: scale(6);
    margin-left: 12vw;
    margin-top: 12vh;
}

#despesa:hover {
    color: rgb(125, 41, 35);
}

// MAT TAB
mat-tab-group {
   font: normal 300 24px/28px Roboto;
   min-width: 0;
   justify-content: flex-end;
   transform: none;
   transition: none;
}

::ng-deep .mat-tab-header-pagination {
    display: none !important;
}

.content {
    font: normal 300 20px/28px Roboto;
    margin-top: 2.7vh;
    text-align: center;
    cursor: pointer;
}

::ng-deep .mat-tab-list .mat-tab-label {
    color: #085273;
    margin-top: 0.9vh;
    font: normal 500 24px/19px Roboto;
}

#icons {
    vertical-align: text-top;
    margin-right: 0.5vw;
    color: #5c152a;
}

#graph {
  margin-left: 5vw;
  margin-top: 2vh;
}
