<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700&display=swap" rel="stylesheet">

<div class="background">
    <div class="box">
        <p>CATEGORIAS</p>
        <mat-tab-group mat-align-tabs="center" class="tab" style="min-width: 0; width: 100%">
            <mat-tab label="Despesas">
                <div class="content" *ngFor="let despesa of despesas">{{ despesa }}</div>
            </mat-tab>

            <mat-tab label="Receitas">

            </mat-tab>
        </mat-tab-group>

    </div>

    <div class="box" id="center">
        <span class="material-icons" (click)="decrement()">arrow_back_ios</span>
        <p>{{ month }}</p>
        <span class="material-icons" id="back" (click)="increment()">arrow_forward_ios</span>
    </div>

    <div class="box" id="box2">
        <p>EXTRATO</p>
    </div>
</div>
